* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  background-color: #101010; 

  font-family: "Pretendard", sans-serif;
  color: #fafafa;
}

.videos {
    display: flex;
    gap: 20px;
}